/*
// cursive font
 font-family: 'Comforter', cursive;

// bold rounded font
font-family: 'Fredoka One', cursive;

//Default Theme
font-family: 'Roboto', sans-serif;

//Retro Theme - old termial type font
font-family: 'VT323', monospace; */

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 1%;
  font-size: 2rem;
  font-style: normal;
}

body.default {
  font-family: "Roboto", sans-serif;
  background-image: url(./images/tic-toc-background.png);
  background-size: 400%;
  background-position: 49% 65%;
  background-repeat: no-repeat;
}

body.retro {
  font-family: "VT323", monospace;
  color: black;
  background-color: black;
  border: dashed 5px blue;
  color: white;
}

.main-menu,
.options-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 5;
  border-radius: 10px;
  padding: 20px;
  animation-duration: 4s;
  animation-delay: 2s;
  height: 50%;
  max-height: 500px;
  width: 70%;
  max-width: 350px;
  /* display: none; */
}

.options-menu {
  justify-content: space-around;
}

.theme-selection {
  margin: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.theme-heading {
  font-size: 1.5rem;
  grid-column: 1 / span 2;
}

.theme-heading.default {
  border-top: tomato solid 5px;
  padding: 10px;
}
.theme-heading.retro {
  border-top: yellow dashed 5px;
  padding: 10px;
}
.back-btn {
  font-size: 1.5rem;
}

h1 {
  margin: 0px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 2rem;
  padding: 0px 10px;
}

h1.default {
  border-bottom: tomato solid 5px;
}

h1.retro {
  border-bottom: yellow dashed 5px;
}

h2 {
  text-align: center;
  font-size: 1.2rem;
  margin: 5px;
}

.start-btn:hover,
.options-btn:hover {
  cursor: pointer;
  color: dodgerblue;
}
.main-menu.default,
.options-menu.default {
  color: rgba(94, 138, 171, 1);
  border: tomato solid 5px;
  background-color: rgba(245, 222, 179, 0.8);
}

.main-menu.retro,
.options-menu.retro {
  color: white;
  border: yellow dashed 5px;
  background-color: black;
}

.overlay {
  position: fixed;
  width: 110vw;
  height: 110vh;
  filter: blur(10px);
  z-index: 4;
}
.overlay.default {
  background-image: url(./images/tic-toc-background.png);
  background-color: rgba(94, 138, 171, 01);
}

.overlay.retro {
  background-image: none;
  background-color: blue;
}

input {
  margin: 5px;
  width: 50px;
  height: 50px;
  border: none;
  text-align: center;
  border-radius: 5px;
}

.forground-img {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  pointer-events: none;
}

.forground-img-left {
  position: fixed;
  left: 0px;
  bottom: 0px;
  background-image: url(./images/tic-toc-forground-left.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 50%;
  width: 100%;
  z-index: 2;
}

.forground-img-left.retro,
.forground-img-right.retro {
  background-image: none;
}

.forground-img-right {
  position: fixed;
  right: 0px;
  bottom: 0px;
  background-image: url(./images/forground-right.png);
  background-repeat: no-repeat;
  height: 30%;
  width: 30%;
  z-index: 2;
}

.game-container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.game-container.retro {
  background-color: black;
}

.score-board {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  width: 100%;
  max-width: 500px;
  color: white;
}

.score-board {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  width: 95%;
  max-width: 500px;
  color: white;
}

.player-one,
.player-two,
.round-counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5%;
  border-radius: 5px;
}

.player-one.default {
  color: white;
  font-size: 1.2rem;
  background-color: rgba(255, 99, 71, 0.7);
}
.player-one.retro {
  color: white;
  font-size: 1.2rem;
  background-color: black;
}

.player-two.default {
  color: white;
  font-size: 1.2rem;
  background-color: rgba(255, 248, 220, 0.7);
}
.player-two.retro {
  color: white;
  font-size: 1.2rem;
  background-color: black;
}

.round-counter.default {
  color: white;
  font-size: 1.2rem;
}
.round-counter.retro {
  color: white;
  font-size: 1.2rem;
}
.player-one.retro,
.player-two.retro {
  color: white;
  border: yellow dashed;
  border-radius: 0px;
}

.player-one-score,
.player-two-score,
.round-counter-score {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 90%;
}

.count-down-timer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  background-color: rgba(94, 138, 171, 0.8);
  border-radius: 5px;
  width: 90%;
  margin: 5px;
}

.round-counter {
  background-color: rgba(94, 138, 171, 0.5);
  border-radius: 5px;
  padding: 5px;
}

.round-counter.default {
  background-color: rgba(94, 138, 171, 0.5);
}

.round-counter.retro {
  background-color: black;
}

.count-down-timer > div {
  margin: 2px;
}

.round-counter-score.default {
  background-color: rgba(94, 138, 171, 0.8);
  border-radius: 5px;
}
.round-counter-score.retro {
  background-color: yellow;
  color: black;
  /* border-radius: 5px; */
}

.player-one-score.default,
.player-two-score.default {
  border-top: solid cornsilk 5px;
}

.player-one-score.retro,
.player-two-score.retro {
  border: dashed blue;
  color: aliceblue;
}

header {
  grid-column: 1 / span 3;
  justify-content: center;
  align-self: center;
  text-align: center;
  font-size: 3rem;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: fit-content;
  height: fit-content;
  width: 90vw;
  height: 90vw;
  max-width: 365px;
  max-height: 365px;
  background-position: auto;
  background-repeat: no-repeat;
  pointer-events: none;
  aspect-ratio: 1/1;
  align-self: center;
  text-align: center;
  color: white;
}

.game-board.default {
  background-size: 345px 345px;
  background-image: url(./images/tic\ toc\ game-board.png);
}

.game-board.retro {
  color: white;
  background-image: none;
  background-color: black;
  gap: 15px;
}

.fade-out-animation {
  animation: fade-out 0.5s linear;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-in-animation {
  animation: fade-in 1s linear;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bounce-animation {
  animation: bounce 0.2s linear;
}

@keyframes bounce {
  20%,
  50%,
  80%,
  to {
    transform: translateY(0);
    transform: translateY(0px);
  }
  40% {
    transform: translatex(-20px);
  }
  70% {
  }
  90% {
    transform: translateX(10px);
    transform: translateY(-20px);
  }
}

.game-board-square {
  background-color: transparent;
  font-size: 6rem;
  text-align: center;
  pointer-events: visible;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
}
.game-board-square.retro {
  background-color: yellow;
  color: black;
}

.icon {
  height: 60%;
  width: 60%;
  background-size: contain;
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 60%;
}

.circle-icon {
  background-image: url(./images/icons/circle.png);
}

.cross-icon {
  background-image: url(./images/icons/cancel.png);
}

footer {
  position: relative;
  margin-top: 5%;
  width: 100%;
  font-size: 0.5em;
  text-align: right;
  color: white;
  z-index: 3;
}

@media screen and (min-width: 600px) {
  body.default {
    background-size: 250%;
    background-position: 50% 20%;
  }
}

@media screen and (min-width: 768px) {
  body {
    font-size: 3rem;
  }
  .score-board {
    font-size: 3rem;
  }
  body.default {
    background-size: cover;
    background-position: bottom;
  }
  .icon {
    height: 60%;
    width: 60%;
  }
  .game-board.default {
    background-size: 475px 475px;
  }
  .game-board {
    max-width: 470px;
    max-height: 470px;
  }

  .forground-img-left {
    position: fixed;
    left: -200px;
    bottom: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    z-index: 2;
  }
  .forground-img-right {
    position: fixed;
    right: -200px;
    bottom: 0px;
    background-repeat: no-repeat;
    height: 30%;
    width: 30%;
    z-index: 2;
  }
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}
.grid {
  display: grid;
}

.no-pointer-events {
  pointer-events: none;
}
.active-pointer-events {
  pointer-events: visible;
}
